@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ma+Shan+Zheng&family=Rubik+Gemstones&display=swap');
.App {
  min-height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/hand-drawn-minimal-background_23-2149017896.jpg?w=900&t=st=1679329849~exp=1679330449~hmac=a88a5f44f590812e119938189deed7427806181404c54397823701b247c73347');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
